.app {
  text-align: center;
  height: 100%;
  padding: 5px 60px;
  justify-content: space-between;
}

.app__headers {
  display: inline;
  justify-content: space-between
}

.app__content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 50px;
}

.app__footer {
  width: 100%;
}